*
#logo {
background-color: rgb(255,71,71);
}
#selectors {
color: black;
font-size: 1.25rem;
font: Times;
}
#desc {
margin: 10;
Font-style: italic;
font-size: 1rem;
}
p {
font-size: 1.5rem;
font: Times;
}
