*{font-family: 'Maven Pro', sans-serif; color: #E9DDD4;}
#logo {
background-color: #BA0F30;
}
#selectors {
font-size: 1.25rem;
font: Times;
}
#desc {
margin: 10;
Font-style: italic;
font-size: 1rem;
}
body{
background-color: #2F2440;
}
p {
font-size: 1.5rem;
font: Times;
}
